<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <connectionStrings>
        <add name="MySqlConnectionString" 
             connectionString="Server=localhost;Database=CustomerManagement;Uid=root;Pwd=password;" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="DatabaseName" value="CustomerManagement" />
    </appSettings>
</configuration>